<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fount.seed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_seed"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kids.RoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".kids.ChaletActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".register.AddKidActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".register.UpdateKidActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".attendance.StudentAttendanceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".management.ManagementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/management"
            android:launchMode="singleTop"
            android:parentActivityName=".StartActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".attendance.CommentActivity"
            android:label="@string/comment"
            android:launchMode="singleTop"
            android:parentActivityName=".attendance.StudentAttendanceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".attendance.StudentAttendanceActivity" />
        </activity>

        <receiver
            android:name=".database.firebase.FirebaseUtils$DateGenerator"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="INTERVAL" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>